
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-content-area">

    <div class="uni-banner-default uni-background-1">
        <div class="container">
            <!-- Page title -->
            <div class="page-title">
                <div class="page-title-inner">
                    <h1>single departments</h1>
                </div>
            </div>
            <!-- End page title -->
            <!-- Breadcrumbs -->
            <ul class="breadcrumbs">
                <li><a href="#">home</a></li>
                <li><a href="#">departments</a></li>
                <li><a href="#">cardilogy </a></li>
            </ul>
            <!-- End breadcrumbs -->
        </div>
    </div>

    <div class="uni-single-departments-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="uni-single-departments-left">
                        <!--Opening hours-->
                        <div class="uni-single-department-open-hours">
                            <h3 class="uni-single-department-left-title">
                                Opening hours
                            </h3>
                            <div class="uni-single-department-left-table">
                                <table class="table">
                                    <tr>
                                        <td>Monday</td>
                                        <td>8:00 - 17:00</td>
                                    </tr>
                                    <tr>
                                        <td>tuesday</td>
                                        <td>8:00 - 17:00</td>
                                    </tr>
                                    <tr>
                                        <td>wednesday</td>
                                        <td>8:00 - 17:00</td>
                                    </tr>
                                    <tr>
                                        <td>thursday</td>
                                        <td>8:00 - 17:00</td>
                                    </tr>
                                    <tr>
                                        <td>friday</td>
                                        <td>8:00 - 17:00</td>
                                    </tr>
                                    <tr>
                                        <td>saturday</td>
                                        <td>8:00 - 17:00</td>
                                    </tr>
                                    <tr>
                                        <td>sunday</td>
                                        <td>8:00 - 17:00</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!--Contact us-->
                        <div class="uni-single-department-contact-info">
                            <h3 class="uni-single-department-left-title">
                                CONTACT INFO
                            </h3>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> 45 Queen's Park Rd, Brighton
                                    United Kingdom
                                </li>
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i> (094) 123 4567
                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> medicareplus@domain.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="uni-single-departments-right">

                        <div class="uni-single-departments-cardiology">
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/images/departments/img.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-7">
                                    <h3 class="uni-single-departments-right-title">Cardiology</h3>
                                    <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada
                                        fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                        ultricies eget, tempor sit amet, ante. Donec eu libero sit amet
                                        quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat
                                        eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
                                        Vestibulum erat wisi.
                                    </p>
                                    <ul>
                                        <li>
                                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                                        </li>
                                        <li>
                                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                                        </li>
                                        <li>
                                            <p>Vestibulum auctor dapibus neque</p>
                                        </li>
                                        <li>
                                            <p>Morbi in sem quis dui placerat ornare</p>
                                        </li>
                                        <li>
                                            <p>Donec eu libero sit amet quam egestas semper</p>
                                        </li>
                                        <li>
                                            <p>Aliquam tincidunt mauris eu risus</p>
                                        </li>
                                        <li>
                                            <p>Vestibulum auctor dapibus neque</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--TREATMENTS INVENSTIGATION-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="uni-single-departments-treatments-investigation">
                                    <h3 class="uni-single-departments-right-title">treatments</h3>
                                    <div class="uni-divider"></div>
                                    <ul>
                                        <li>
                                            Echocardiography <span>$200</span>
                                        </li>
                                        <li>
                                            Implantable Cardiac Monitor (ICM) <span>$200</span>
                                        </li>
                                        <li>
                                            Treadmill stress testing <span>$200</span>
                                        </li>
                                        <li>
                                            Transoesophageal echocardiogram (TOE) <span>$200</span>
                                        </li>
                                        <li>
                                            Pacemaker checks <span>$200</span>
                                        </li>
                                        <li>
                                            Electrophysiology (EP) Study <span>$200</span>
                                        </li>
                                        <li>
                                            Holter monitoring <span>$200</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>

                        <!--DOCTOR-->
                        <div class="uni-single-department-doctor">
                            <h3 class="uni-single-departments-right-title">doctors</h3>
                            <div class="uni-divider"></div>

                            <div class="uni-single-department-doctor-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="uni-single-department-doctor-item">
                                            <div class="item-img">
                                                <img src="images/team/img.png" alt="" class="img-responsive">
                                            </div>
                                            <div class="item-caption">
                                                <div class="item-caption-head">
                                                    <div class="col-md-3  col-sm-2 col-xs-3 uni-clear-padding">
                                                        <div class="item-icons">
                                                            <img src="images/icons_box/icon_4/icon-5.png" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9  col-sm-10 col-xs-9 uni-clear-padding">
                                                        <div class="item-title">
                                                            <h4>henrik larsson</h4>
                                                            <span>neurologist</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item-caption-info">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <td>Degrees</td>
                                                                <td>M.D. of Medicine</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Mon - fri</td>
                                                                <td>8:00 am - 17:00 pm</td>
                                                            </tr>
                                                            <tr>
                                                                <td>saturday</td>
                                                                <td>10:00 am - 15:00 pm</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Sunday</td>
                                                                <td>8:00 am - 12:00 pm</td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <ul>
                                                                        <li>
                                                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                                        </li>
                                                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--APPOINTMENTS-->
                        <div class="uni-single-department-appointment">
                            <h3 class="uni-single-departments-right-title">appointment</h3>
                            <div class="uni-divider"></div>
                            <div class="uni-single-department-appointment-form">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-4">

                                            <div class="input-group form-group">
                                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="name" value="" placeholder="your name">
                                            </div>
                                            <div class="input-group form-group">
                                                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                <input type="tel" class="form-control" name="phone" value="" placeholder="phone number">
                                            </div>
                                            <div class="input-group form-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                <input type="email" class="form-control" name="email" value="" placeholder="email">
                                            </div>
                                            <div class="input-group form-group">
                                                <div class="input-group date date-check-in" data-date="12-02-2017" data-date-format="mm-dd-yyyy">
                                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                    <input name="date1" class="form-control" type="text" value="12-02-2017">
                                                    <span class="input-group-addon btn"><i class="fa fa-calendar" id="ti-calendar1" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group form-group">
                                                <textarea id="message" name="phone" class="form-control" placeholder="note"></textarea>
                                            </div>
                                            <button class="vk-btn vk-btn-send">send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

