
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-content-area">

    <div class="uni-banner-default uni-background-1">
        <div class="container">
            <!-- Page title -->
            <div class="page-title">
                <div class="page-title-inner">
                    <h1>departments</h1>
                </div>
            </div>
            <!-- End page title -->
            <!-- Breadcrumbs -->
            <ul class="breadcrumbs">
                <li><a href="#">home</a></li>
                <li><a href="#">departments</a></li>
            </ul>
            <!-- End breadcrumbs -->
        </div>
    </div>

    <div class="uni-departments-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="uni-departments-default">
                        <div class="item-icons">
                            <a href="#"><img src="/images/icons_box/icon_1/icon-5.png" alt="" class="img-responsive"></a>
                        </div>
                        <div class="item-caption">
                            <h4><a asp-controller="Department" asp-action="Details">cardiology</a></h4>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas adipisicing.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

