
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


            <div class="site-content-area">

                <div class="uni-banner-default uni-background-1">
                    <div class="container">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="page-title-inner">
                                <h1>shop</h1>
                            </div>
                        </div>
                        <!-- End page title -->

                        <!-- Breadcrumbs -->
                        <ul class="breadcrumbs">
                            <li><a href="#">home</a></li>
                            <li><a href="#">shop</a></li>
                        </ul>
                        <!-- End breadcrumbs -->
                    </div>
                </div>

                <main id="main" class="site-main">
                    <div class="uni-shop-body">
                        <div class="container">
                            <div id="content">

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="uni-single-product-left">
                                            <div class="uni-siderbar-left">
                                                <form action="http://medicare.vikitheme.com/html/action.php" method="post" accept-charset="utf-8">
                                                    <div class="vk-newlist-banner-test-search">
                                                        <input type="text" name="seach" placeholder="Search...">
                                                        <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </div>
                                                </form>

                                                <div class="vk-category">
                                                    <h3>Categories</h3>
                                                    <div class="uni-divider"></div>
                                                    <ul class="list-career">
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Electrical</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Interior</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Exterior</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Oil & Filters</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Brakes</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Wheels</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-9">
                                        <div class="uni-shop-siderbar-right">

                                            <!-- .product item -->
                                            <div class="category-product uni-product-wapper">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-6">
                                                        <div class="product-item">
                                                            <ul class="category-product">
                                                                <li>
                                                                    <div class="wrapper">
                                                                        <div class="feature-image">
                                                                            <a href="06_02_single_product.html"><img class="wp-post-image img-responsive" src="/images/shop/img-4.png" alt=""></a>
                                                                        </div>
                                                                        <!-- .feature-image -->

                                                                        <div class="stats">
                                                                            <div class="box-title">
                                                                                <h2 class="title-product">
                                                                                  <a asp-controller="Shop" asp-action="ProductDetails" class="product_name">Redufluxes</a>
                                                                                </h2>
                                                                                <!-- .title-product -->
                                                                            </div>
                                                                            <!-- .box-title -->
                                                                            <div class="price-add-cart">
                                                                                <div class="vote-star">
                                                                                    <ul>
                                                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                                        <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="box-price">
                                                                                    <span class="price">
                                                                                        <span class="woocommerce-Price-amount amount">
                                                                                            <span class="woocommerce-Price-currencySymbol">$</span>
                                                                                            26.00
                                                                                        </span>
                                                                                    </span>
                                                                                </div>

                                                                                <div class="box-add">
                                                                                    <a href="06_03_cart.html">Add to cart</a>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                            <!-- .box-price -->
                                                                        </div>
                                                                        <!-- .stats -->
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--PAGINATION-->
                                            <nav class="woocommerce-pagination">
                                                <ul class="loop-pagination">
                                                    <li><a class="prev page-numbers" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                                    <li><a class="page-numbers current">1</a></li>
                                                    <li><a class="page-numbers" href="#">2</a></li>
                                                    <li><a class="page-numbers" href="#">3</a></li>
                                                    <li><a class="page-numbers" href="#">...</a></li>
                                                    <li><a class="page-numbers" href="#">7</a></li>
                                                    <li><a class="next page-numbers" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                </ul><!-- .pagination -->
                                            </nav>

                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

            </div>
            </div>

