           
 


<div class="uni-single-product">
<div class="site-content-area">

                <div class="uni-banner-default uni-background-1">
                    <div class="container">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="page-title-inner">
                                <h1>Redufluxes</h1>
                            </div>
                        </div>
                        <!-- End page title -->

                        <!-- Breadcrumbs -->
                        <ul class="breadcrumbs">
                            <li><a href="#">home</a></li>
                            <li><a href="#">shop</a></li>
                            <li><a href="#">Redufluxes</a></li>
                        </ul>
                        <!-- End breadcrumbs -->
                    </div>
                </div>

                <main id="main" class="site-main">
                    <div class="uni-single-product-body">
                        <div class="container">
                            <div id="content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="uni-single-product-left">
                                            <div class="uni-siderbar-left">
                                                <form action="http://medicare.vikitheme.com/html/action.php" method="post" accept-charset="utf-8">
                                                    <div class="vk-newlist-banner-test-search">
                                                        <input type="text" name="seach" placeholder="Search...">
                                                        <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </div>
                                                </form>

                                                <div class="vk-category">
                                                    <h3>Categories</h3>
                                                    <div class="uni-divider"></div>
                                                    <ul class="list-career">
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Electrical</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Interior</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Exterior</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Oil & Filters</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Brakes</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Wheels</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="uni-single-product-right">
                                            <div id="product">
                                                <div class="product-info">
                                                    <div class="row">
                                                        <div class="col-sm-6 left image-panel">
                                                            <div id="carousel" class="flexslider thumbnail_product">
                                                                <div id="slider" class="flexslider">
                                                                    <div class="product-slide">
                                                                        <div class="img-slide">
                                                                            <img class="filter2 animated fadeIn shop2 img-responsive" src="/images/shop/img-4.png" alt="product">
                                                                            <img class="filter2 animated fadeIn shop1 active img-responsive" src="/images/shop/img-3.png" alt="product">
                                                                            <img class="filter2 animated fadeIn shop3 img-responsive" src="/images/shop/img-2.png" alt="product">
                                                                            <img class="filter2 animated fadeIn shop4 img-responsive" src="/images/shop/img-1.png" alt="product">
                                                                        </div>

                                                                        <div class="row-fix">
                                                                            <div class="col-xs-3 col-sm-3 col-md-3 uni-clear-padding">
                                                                                <div class="img-small active">
                                                                                    <img data-filter2="shop1" src="/images/shop/img-3.png" alt="product" class="img-responsive">
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-xs-3 col-sm-3 col-md-3 uni-clear-padding">
                                                                                <div class="img-small">
                                                                                    <img data-filter2="shop2" src="/images/shop/img-4.png" alt="product" class="img-responsive">
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-xs-3 col-sm-3 col-md-3 uni-clear-padding">
                                                                                <div class="img-small">
                                                                                    <img data-filter2="shop3" src="/images/shop/img-2.png" alt="product" class="img-responsive">
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-xs-3 col-sm-3 col-md-3 uni-clear-padding">
                                                                                <div class="img-small">
                                                                                    <img data-filter2="shop4" src="/images/shop/img-1.png" alt="product" class="img-responsive">
                                                                                </div>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 right">
                                                            <h1 class="product_title entry-title">redufluxes</h1>
                                                            <p class="price">
                                                                <span class="woocommerce-Price-amount amount">
                                                                    <span class="woocommerce-Price-currencySymbol">$</span>
                                                                    26.00
                                                                </span>
                                                            </p>
                                                            <div class="description">
                                                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                                                                    eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                                                    Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit
                                                                    amet est et sapien ullamcorper pharetra.</p>
                                                            </div>
                                                            <!-- .description -->

                                                            <form class="cart" method="post" enctype="multipart/form-data">
                                                                <div class="quantity">
                                                                    <div class="form-group">
                                                                        <label>Quantity:</label>
                                                                        <input type="number" class="form-control qty" id="pwd" min="0" value="1">
                                                                    </div>
                                                                </div>
                                                                <button type="submit" name="add-to-cart" class="single_add_to_cart_button button alt">Add to cart</button>
                                                                <div class="clearfix"></div>
                                                            </form>

                                                            <div class="product_meta">
                                                                <span class="posted_in">Category:
                                                                    <a href="#" rel="tag">Clothing</a>
                                                                    <a href="#" rel="tag">T-Shirt</a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <!-- .summary -->
                                                    </div>
                                                </div>

                                                <div class="woocommerce-tabs wc-tabs-wrapper">
                                                    <div class="row">
                                                        <div class="col-md-12" id="logout">
                                                            <div class="comment-tabs">
                                                                <div class="uni-shortcode-tabs-default">
                                                                    <div class="uni-shortcode-tab-3">
                                                                        <div class="tabbable-panel">
                                                                            <div class="tabbable-line">
                                                                                <ul class="nav nav-tabs wc-tabs" role="tablist">
                                                                                    <li class="active">
                                                                                        <a href="#description" role="tab" data-toggle="tab">
                                                                                            Description
                                                                                        </a>
                                                                                    </li>
                                                                                
                                                                                </ul>
                                                                                <div class="tab-content">
                                                                                    <div class="tab-pane active" id="description">
                                                                                        <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel-description panel entry-content wc-tab">
                                                                                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                                                                                Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                                                                                                sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                                                                                Quisque sit amet est et sapien ullamcorper pharetra.<br><br>

                                                                                                Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean
                                                                                                fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus
                                                                                                enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque
                                                                                                id cursus faucibus, tortor neque egestas augue.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="tab-pane" id="review">
                                                                                        
                                                                                    </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <section class="related products">
                                                <h2>Related products</h2>
                                                <div class="category-product uni-product-wapper">
                                                    <div class="row">
                                                        <div class="col-md-4  col-sm-6">
                                                            <div class="product-item">
                                                                <ul class="category-product">
                                                                    <li>
                                                                        <div class="wrapper">
                                                                            <div class="feature-image">
                                                                                <a href="06_02_single_product.html"><img class="wp-post-image img-responsive" src="/images/shop/img-4.png" alt=""></a>
                                                                            </div>
                                                                            <!-- .feature-image -->

                                                                            <div class="stats">
                                                                                <div class="box-title">
                                                                                    <h2 class="title-product">
                                                                                        <a href="06_02_single_product-2.html" class="product_name">paracetamol</a>
                                                                                    </h2>
                                                                                    <!-- .title-product -->
                                                                                </div>
                                                                                <!-- .box-title -->
                                                                                <div class="price-add-cart">
                                                                                    <div class="vote-star">
                                                                                        <ul>
                                                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                                                        </ul>
                                                                                    </div>

                                                                                    <div class="box-price">
                                                                                <span class="price">
                                                                                    <span class="woocommerce-Price-amount amount">
                                                                                        <span class="woocommerce-Price-currencySymbol">$</span>
                                                                                        26.00
                                                                                    </span>
                                                                                </span>
                                                                                    </div>

                                                                                    <div class="box-add">
                                                                                        <a href="06_03_cart.html">Add to cart</a>
                                                                                    </div>
                                                                                    <div class="clearfix"></div>
                                                                                </div>
                                                                                <!-- .box-price -->
                                                                            </div>
                                                                            <!-- .stats -->
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
 </div>
 </div>