
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="uni-banner-default uni-background-1">
        <div class="container">
            <!-- Page title -->
            <div class="page-title">
                <div class="page-title-inner">
                    <h1>about</h1>
                </div>
            </div>
            <!-- End page title -->
            <!-- Breadcrumbs -->
            <ul class="breadcrumbs">
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
            </ul>
            <!-- End breadcrumbs -->
        </div>
    </div>

    <div class="uni-about-body">

        <!--WHO WE ARE-->
        <div class="uni-about-who-are-you">
            <div class="container">
                <div class="uni-services-title">
                    <h3>who we are</h3>
                    <div class="uni-underline"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="uni-about-who-are-you-left">
                            <img src="/images/about/img.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="uni-about-who-are-you-right">
                            <p>
                                Pellentesque habitant morbi trPellentesque habitant morbi tristique
                                senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                                quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                                sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat
                                eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
                            </p>
                            <h4>our missions</h4>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetuer</li>
                                <li>Aliquam tincidunt mauris eu risus</li>
                                <li>Vestibulum auctor dapibus neque</li>
                                <li>Morbi in sem quis dui placerat ornare</li>
                                <li>Donec eu libero sit amet quam egestas semper</li>
                                <li>Aliquam tincidunt mauris eu risus</li>
                                <li>Vestibulum auctor dapibus neque</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Team 2-->
        <div class="uni-shortcode-team-2 uni-background-2">
            <div class="container">
                <div class="uni-services-title">
                    <h3>Our doctor</h3>
                    <div class="uni-underline"></div>
                </div>
                <div class="uni-owl-four-item owl-carousel owl-theme">
                    <div class="item">
                        <div class="uni-team-default">
                            <div class="item-img">
                                <img src="/images/team/img.png" alt="" class="img-responsive">
                            </div>
                            <div class="item-caption">
                                <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="/images/icons_box/icon_4/icon-5.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>adam jonson</h4>
                                        <span>Cardiologist</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="uni-team-default">
                            <div class="item-img">
                                <img src="/images/team/img1.png" alt="" class="img-responsive">
                            </div>
                            <div class="item-caption">
                                <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="/images/icons_box/icon_4/icon-4.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>henrik larsson</h4>
                                        <span>neurologist</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="uni-team-default">
                            <div class="item-img">
                                <img src="/images/team/img2.png" alt="" class="img-responsive">
                            </div>
                            <div class="item-caption">
                                <div class="col-md-3  col-sm-3 col-xs-3 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="/images/icons_box/icon_4/icon-3.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-9  col-sm-9 col-xs-9 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>amanda smith</h4>
                                        <span>Ophthalmology doctor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="uni-team-default">
                            <div class="item-img">
                                <img src="/images/team/img3.png" alt="" class="img-responsive">
                            </div>
                            <div class="item-caption">
                                <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="/images/icons_box/icon_4/icon-2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-9  col-sm-9 col-xs-9 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>david martin</h4>
                                        <span>Cancer doctor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="uni-team-default">
                            <div class="item-img">
                                <img src="/images/team/img.png" alt="" class="img-responsive">
                            </div>
                            <div class="item-caption">
                                <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="/images/icons_box/icon_4/icon-5.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>adam jonson</h4>
                                        <span>Cardiologist</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="uni-team-default">
                            <div class="item-img">
                                <img src="/images/team/img1.png" alt="" class="img-responsive">
                            </div>
                            <div class="item-caption">
                                <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="/images/icons_box/icon_4/icon-4.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>henrik larsson</h4>
                                        <span>neurologist</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ICONS BOX 3-->
        <div class="uni-shortcode-icons-box-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="uni-shortcode-icons-box-3-default">
                            <div class="item-icons">
                                <i class="fa fa-user-md" aria-hidden="true"></i>
                            </div>
                            <div class="item-caption">
                                <h4>Qualified Doctors</h4>
                                <div class="uni-line"></div>
                                <p>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada
                                    fame ac turpis egestas. Vestibulum tortor quam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="uni-shortcode-icons-box-3-default">
                            <div class="item-icons">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </div>
                            <div class="item-caption">
                                <h4>
                                    24 hours service
                                </h4>
                                <div class="uni-line"></div>
                                <p>
                                    Pellentesque habitant morbi tristique
                                    senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="uni-shortcode-icons-box-3-default">
                            <div class="item-icons">
                                <i class="fa fa-hospital-o" aria-hidden="true"></i>
                            </div>
                            <div class="item-caption">
                                <h4>
                                    modern equipment
                                </h4>
                                <div class="uni-line"></div>
                                <p>
                                    Pellentesque habitant morbi tristique
                                    senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="uni-shortcode-icons-box-3-default">
                            <div class="item-icons">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="item-caption">
                                <h4>
                                    conscientious Doctors
                                </h4>
                                <div class="uni-line"></div>
                                <p>
                                    Pellentesque habitant morbi tristique
                                    senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="uni-shortcode-icons-box-3-default">
                            <div class="item-icons">
                                <i class="fa fa-ambulance" aria-hidden="true"></i>
                            </div>
                            <div class="item-caption">
                                <h4>
                                    call in 10 minutes
                                </h4>
                                <div class="uni-line"></div>
                                <p>
                                    Pellentesque habitant morbi tristique
                                    senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="uni-shortcode-icons-box-3-default">
                            <div class="item-icons">
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                            </div>
                            <div class="item-caption">
                                <h4>
                                    enthusiastic support
                                </h4>
                                <div class="uni-line"></div>
                                <p>
                                    Pellentesque habitant morbi tristique
                                    senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--OUR SERVICES 2-->
        <div class="uni-our-services-2 uni-background-4">
            <div class="container">
                <div class="uni-services-title">
                    <h3>Our services</h3>
                    <div class="uni-underline"></div>
                </div>

                <div class="uni-our-service-2-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="tab-nav">
                                <ul class="nav-pills nav-stacked">
                                    <li class="active"><a href="#tab_a" data-toggle="pill">Cardiothoracic Surgery</a></li>
                                    <li><a href="#tab_b" data-toggle="pill">Corneal transplant surgery</a></li>
                                    <li><a href="#tab_c" data-toggle="pill">General health check</a></li>
                                    <li><a href="#tab_d" data-toggle="pill">Diagnosis & treatment cancer</a></li>
                                    <li><a href="#tab_e" data-toggle="pill">Treatment of dermatitis</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_a">
                                    <div class="uni-our-service-2-content-default">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="item-img">
                                                    <img src="/images/services/img.jpg" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="item-caption">
                                                    <div class="item-caption-title">
                                                        <h3>Cardiothoracic Surgery</h3>
                                                        <div class="uni-line"></div>
                                                    </div>
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et netus
                                                        et malesuada fames ac turpis egestas. Vestibulum tortor
                                                        quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                        ante. Donec eu libero sit amet quam egestas semper.
                                                        Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                        leo.
                                                    </p>
                                                    <ul>
                                                        <li>
                                                            Lorem ipsum dolor sit amet, consectetuer
                                                        </li>
                                                        <li>
                                                            Aliquam tincidunt mauris eu risus
                                                        </li>
                                                        <li>
                                                            Vestibulum auctor dapibus neque
                                                        </li>
                                                        <li>
                                                            Morbi in sem quis dui placerat ornare
                                                        </li>
                                                        <li>
                                                            Donec eu libero sit amet quam egestas semper
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_b">
                                    <div class="uni-our-service-2-content-default">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="item-img">
                                                    <img src="/images/services/img1.jpg" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="item-caption">
                                                    <div class="item-caption-title">
                                                        <h3>Corneal transplant surgery</h3>
                                                        <div class="uni-line"></div>
                                                    </div>
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et netus
                                                        et malesuada fames ac turpis egestas. Vestibulum tortor
                                                        quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                        ante. Donec eu libero sit amet quam egestas semper.
                                                        Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                        leo.
                                                    </p>
                                                    <ul>
                                                        <li>
                                                            Lorem ipsum dolor sit amet, consectetuer
                                                        </li>
                                                        <li>
                                                            Aliquam tincidunt mauris eu risus
                                                        </li>
                                                        <li>
                                                            Vestibulum auctor dapibus neque
                                                        </li>
                                                        <li>
                                                            Morbi in sem quis dui placerat ornare
                                                        </li>
                                                        <li>
                                                            Donec eu libero sit amet quam egestas semper
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_c">
                                    <div class="uni-our-service-2-content-default">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="item-img">
                                                    <img src="/images/services/img2.jpg" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="item-caption">
                                                    <div class="item-caption-title">
                                                        <h3>General health check</h3>
                                                        <div class="uni-line"></div>
                                                    </div>
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et netus
                                                        et malesuada fames ac turpis egestas. Vestibulum tortor
                                                        quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                        ante. Donec eu libero sit amet quam egestas semper.
                                                        Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                        leo.
                                                    </p>
                                                    <ul>
                                                        <li>
                                                            Lorem ipsum dolor sit amet, consectetuer
                                                        </li>
                                                        <li>
                                                            Aliquam tincidunt mauris eu risus
                                                        </li>
                                                        <li>
                                                            Vestibulum auctor dapibus neque
                                                        </li>
                                                        <li>
                                                            Morbi in sem quis dui placerat ornare
                                                        </li>
                                                        <li>
                                                            Donec eu libero sit amet quam egestas semper
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_d">
                                    <div class="uni-our-service-2-content-default">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="item-img">
                                                    <img src="/images/services/img3.jpg" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="item-caption">
                                                    <div class="item-caption-title">
                                                        <h3>Diagnosis & treatment cancer</h3>
                                                        <div class="uni-line"></div>
                                                    </div>
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et netus
                                                        et malesuada fames ac turpis egestas. Vestibulum tortor
                                                        quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                        ante. Donec eu libero sit amet quam egestas semper.
                                                        Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                        leo.
                                                    </p>
                                                    <ul>
                                                        <li>
                                                            Lorem ipsum dolor sit amet, consectetuer
                                                        </li>
                                                        <li>
                                                            Aliquam tincidunt mauris eu risus
                                                        </li>
                                                        <li>
                                                            Vestibulum auctor dapibus neque
                                                        </li>
                                                        <li>
                                                            Morbi in sem quis dui placerat ornare
                                                        </li>
                                                        <li>
                                                            Donec eu libero sit amet quam egestas semper
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_e">
                                    <div class="uni-our-service-2-content-default">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="item-img">
                                                    <img src="/images/services/img3.jpg" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="item-caption">
                                                    <div class="item-caption-title">
                                                        <h3>Treatment of dermatitis</h3>
                                                        <div class="uni-line"></div>
                                                    </div>
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et netus
                                                        et malesuada fames ac turpis egestas. Vestibulum tortor
                                                        quam, feugiat vitae, ultricies eget, tempor sit amet,
                                                        ante. Donec eu libero sit amet quam egestas semper.
                                                        Aenean ultricies mi vitae est. Mauris placerat eleifend
                                                        leo.
                                                    </p>
                                                    <ul>
                                                        <li>
                                                            Lorem ipsum dolor sit amet, consectetuer
                                                        </li>
                                                        <li>
                                                            Aliquam tincidunt mauris eu risus
                                                        </li>
                                                        <li>
                                                            Vestibulum auctor dapibus neque
                                                        </li>
                                                        <li>
                                                            Morbi in sem quis dui placerat ornare
                                                        </li>
                                                        <li>
                                                            Donec eu libero sit amet quam egestas semper
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--DEPARTMENT, TESTIMONIAL, OPNING HOURES-->
        <div class="uni-services-de-test-hours">
            <div class="container">
                <div class="row">
                    <!--DEPARTMENTS-->
                    <div class="col-md-12">
                        <div class="uni-services-department">
                            <div class="uni-services-title">
                                <h3>Departments</h3>
                                <div class="uni-line"></div>
                            </div>
                            <div class="uni-services-department-content">
                                <div class="accordion-default">
                                    <div class="accordion-icons-img">
                                        <div class="accordion">
                                            <div class="accordion-item">
                                                <div class="accordion-toggle active">
                                                    <div class="accordion-icosn">
                                                        <img src="/images/icons_box/icon_1/icon-5.png" alt="">
                                                    </div>
                                                    <h4>cardiology</h4>
                                                </div>
                                                <div class="accordion-content" style="display: block">
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et
                                                        netus et malesuada fames ac turpis egestas.
                                                        Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-toggle">
                                                    <div class="accordion-icosn">
                                                        <img src="/images/icons_box/icon_1/icon-4.png" alt="">
                                                    </div>
                                                    <h4>Neurology</h4>
                                                </div>
                                                <div class="accordion-content">
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et
                                                        netus et malesuada fames ac turpis egestas.
                                                        Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-toggle">
                                                    <div class="accordion-icosn">
                                                        <img src="/images/icons_box/icon_1/icon-3.png" alt="">
                                                    </div>
                                                    <h4>Orthopedics</h4>
                                                </div>
                                                <div class="accordion-content">
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et
                                                        netus et malesuada fames ac turpis egestas.
                                                        Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-toggle">
                                                    <div class="accordion-icosn">
                                                        <img src="/images/icons_box/icon_1/icon-2.png" alt="">
                                                    </div>
                                                    <h4>cancer department</h4>
                                                </div>
                                                <div class="accordion-content">
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et
                                                        netus et malesuada fames ac turpis egestas.
                                                        Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-toggle">
                                                    <div class="accordion-icosn">
                                                        <img src="/images/icons_box/icon_1/icon-1.png" alt="">
                                                    </div>
                                                    <h4>Ophthalmology</h4>
                                                </div>
                                                <div class="accordion-content">
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et
                                                        netus et malesuada fames ac turpis egestas.
                                                        Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <div class="accordion-toggle">
                                                    <div class="accordion-icosn">
                                                        <img src="/images/icons_box/icon_1/icon.png" alt="">
                                                    </div>
                                                    <h4>Respiratory</h4>
                                                </div>
                                                <div class="accordion-content">
                                                    <p>
                                                        Pellentesque habitant morbi tristique senectus et
                                                        netus et malesuada fames ac turpis egestas.
                                                        Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--MAP-->
        <div class="uni-about-map">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.355677596112!2d-0.13052618407551403!3d50.82457546821709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875859878db2cc7%3A0xff129250121f260d!2s45+Queen's+Park+Rd%2C+Brighton+BN2+0GJ%2C+V%C6%B0%C6%A1ng+Qu%E1%BB%91c+Anh!5e0!3m2!1svi!2s!4v1514436176997" height="700" style="border:0"></iframe>
        </div>


    </div>

