
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
            <section class="site-content-area">

                <div class="uni-banner-default uni-background-1">
                    <div class="container">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="page-title-inner">
                                <h1>services</h1>
                            </div>
                        </div>
                        <!-- End page title -->

                        <!-- Breadcrumbs -->
                        <ul class="breadcrumbs">
                            <li><a href="#">home</a></li>
                            <li><a href="#">services</a></li>
                        </ul>
                        <!-- End breadcrumbs -->
                    </div>
                </div>

                <div class="uni-services-body">

                    <!--OUR SERVICES 1-->
                    <div class="uni-our-services-1">
                        <div class="container">
                            <div class="uni-services-title">
                                <h3>Our services</h3>
                                <div class="uni-underline"></div>
                            </div>
                        </div>
                        <div class="uni-shortcode-icons-box-5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="uni-shortcode-icons-box-5-default">
                                            <div class="item-icons-title">
                                                <div class="col-md-4 uni-clear-padding">
                                                    <div class="item-icons">
                                                        <img src="/images/icons_box/icon_4/icon-5.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-8 uni-clear-padding">
                                                    <div class="item-title">
                                                        <h4>Corneal transplant surgery</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-caption">
                                                <p>
                                                    Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                                    ultricies eget...
                                                </p>
                                              
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--DEPARTMENT, TESTIMONIAL, OPNING HOURES-->
                    <div class="uni-services-de-test-hours">
                        <div class="container">
                            <div class="row">
                                <!--DEPARTMENTS-->
                                <div class="col-md-12">
                                    <div class="uni-services-department">
                                        <div class="uni-services-title">
                                            <h3>Departments</h3>
                                            <div class="uni-line"></div>
                                        </div>
                                        <div class="uni-services-department-content">
                                            <div class="accordion-default">
                                                <div class="accordion-icons-img">
                                                    <div class="accordion">
                                                        <div class="accordion-item">
                                                            <div class="accordion-toggle active">
                                                                <div class="accordion-icosn">
                                                                    <img src="/images/icons_box/icon_1/icon-5.png" alt="">
                                                                </div>
                                                                <h4>cardiology</h4>
                                                            </div>
                                                            <div class="accordion-content" style="display: block">
                                                                <p>
                                                                    Pellentesque habitant morbi tristique senectus et
                                                                    netus et malesuada fames ac turpis egestas.
                                                                    Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <div class="accordion-toggle">
                                                                <div class="accordion-icosn">
                                                                    <img src="/images/icons_box/icon_1/icon-4.png" alt="">
                                                                </div>
                                                                <h4>Neurology</h4>
                                                            </div>
                                                            <div class="accordion-content">
                                                                <p>
                                                                    Pellentesque habitant morbi tristique senectus et
                                                                    netus et malesuada fames ac turpis egestas.
                                                                    Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <div class="accordion-toggle">
                                                                <div class="accordion-icosn">
                                                                    <img src="/images/icons_box/icon_1/icon-3.png" alt="">
                                                                </div>
                                                                <h4>Orthopedics</h4>
                                                            </div>
                                                            <div class="accordion-content">
                                                                <p>
                                                                    Pellentesque habitant morbi tristique senectus et
                                                                    netus et malesuada fames ac turpis egestas.
                                                                    Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <div class="accordion-toggle">
                                                                <div class="accordion-icosn">
                                                                    <img src="/images/icons_box/icon_1/icon-2.png" alt="">
                                                                </div>
                                                                <h4>cancer department</h4>
                                                            </div>
                                                            <div class="accordion-content">
                                                                <p>
                                                                    Pellentesque habitant morbi tristique senectus et
                                                                    netus et malesuada fames ac turpis egestas.
                                                                    Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <div class="accordion-toggle">
                                                                <div class="accordion-icosn">
                                                                    <img src="/images/icons_box/icon_1/icon-1.png" alt="">
                                                                </div>
                                                                <h4>Ophthalmology</h4>
                                                            </div>
                                                            <div class="accordion-content">
                                                                <p>
                                                                    Pellentesque habitant morbi tristique senectus et
                                                                    netus et malesuada fames ac turpis egestas.
                                                                    Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="accordion-item">
                                                            <div class="accordion-toggle">
                                                                <div class="accordion-icosn">
                                                                    <img src="/images/icons_box/icon_1/icon.png" alt="">
                                                                </div>
                                                                <h4>Respiratory</h4>
                                                            </div>
                                                            <div class="accordion-content">
                                                                <p>
                                                                    Pellentesque habitant morbi tristique senectus et
                                                                    netus et malesuada fames ac turpis egestas.
                                                                    Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
