
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="uni-banner-default uni-background-1">
        <div class="container">
            <!-- Page title -->
            <div class="page-title">
                <div class="page-title-inner">
                    <h1>doctor details</h1>
                </div>
            </div>
            <!-- End page title -->
            <!-- Breadcrumbs -->
            <ul class="breadcrumbs">
                <li><a href="#">home</a></li>
                <li><a href="#">page</a></li>
                <li><a href="#">doctor details</a></li>
            </ul>
            <!-- End breadcrumbs -->
        </div>
    </div>


    <div class="uni-doctor-details-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="uni-our-doctor-item-default">
                        <div class="item-img">
                            <img src="/images/team/img.png" alt="" class="img-responsive">
                        </div>
                        <div class="item-caption">
                            <div class="item-caption-head">
                                <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="/images/icons_box/icon_4/icon-5.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>adam jonson</h4>
                                        <span>Cardiologist</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption-info">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Degrees</td>
                                            <td>M.D. of Medicine</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mon - fri</td>
                                            <td>8:00 am - 17:00 pm</td>
                                        </tr>
                                        <tr>
                                            <td>saturday</td>
                                            <td>10:00 am - 15:00 pm</td>
                                        </tr>
                                        <tr>
                                            <td>Sunday</td>
                                            <td>8:00 am - 12:00 pm</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <ul>
                                                    <li>
                                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="uni-doctor-details-right">

                        <!--SUMMARY-->
                        <div class="uni-doctor-details-summary">
                            <div class="uni-doctor-details-title">
                                <h3>Summary</h3>
                                <div class="uni-divider"></div>
                            </div>
                            <p>
                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                                eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit
                                amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum
                                sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget
                                tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim
                                ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent
                                dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate
                                magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis,
                                accumsan porttitor, facilisis luctus, metus.
                            </p>
                        </div>

                        <!--EDUCATION/DEGREE-->
                        <div class="uni-doctor-details-degrees">
                            <div class="uni-doctor-details-title">
                                <h3>education/degrees</h3>
                                <div class="uni-divider"></div>
                            </div>
                            <ul>
                                <li>
                                    <span>1965 - 1970</span>:	Elementary School
                                </li>
                                <li>
                                    <span>1970 - 1974</span>:	Secondary School
                                </li>
                                <li>
                                    <span>1974 - 1977</span>:	High School
                                </li>
                                <li>
                                    <span>1977 - 1982</span>:	Harvard University
                                </li>
                                <li>
                                    <span>1982 - 1985</span>:	Master's Degree at Harvard University
                                </li>
                            </ul>
                        </div>

                        <!--CONTACT-->
                        <div class="uni-doctor-details-contact">
                            <div class="uni-doctor-details-title">
                                <h3>Contact</h3>
                                <div class="uni-divider"></div>
                            </div>
                            <ul>
                                <li> <i class="fa fa-map-marker" aria-hidden="true"></i> 45 Queen's Park Rd, Brighton,  UK</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> (094) 123 4567 - (094) 123 4568</li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> medicareplus@domain.com</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

