@model IEnumerable<ServicesVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <a href="/admin/Services/Add" class="col-2 btn btn-primary" style="margin-top: 20px;margin-left: 20px;">Add</a>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>

                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.ServicesName</td>
                                    <td> <a asp-area="Admin" asp-controller="Services" asp-action="Update" asp-route-id="@item.ServicesId" class="btn btn-outline-primary">Edit</a></td>
                                    <td> <a asp-area="Admin" asp-controller="Services" asp-action="Delete" asp-route-id="@item.ServicesId" class="btn btn-outline-danger">Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

