
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
                <div class="uni-banner-default uni-background-1">
                    <div class="container">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="page-title-inner">
                                <h1>single post</h1>
                            </div>
                        </div>
                        <!-- End page title -->

                        <!-- Breadcrumbs -->
                        <ul class="breadcrumbs">
                            <li><a href="#">home</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">single post</a></li>
                        </ul>
                        <!-- End breadcrumbs -->
                    </div>
                </div>

                <div class="uni-single-post-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="uni-single-post-left">

                                    <div class="page-content">
                                        <article class="post-92 post type-post has-post-thumbnail">
                                            <div class="content-inner">
                                                <div class="uni-entry-top">
                                                    <div class="post-formats-wrapper">
                                                        <a class="post-image" href="#">
                                                            <img src="images/single_post/img-1.jpg" class="attachment-full size-full wp-post-image img-responsive" alt="">
                                                        </a>
                                                    </div>
                                                </div><!-- .entry-top -->

                                                <div class="uni-entry-body">
                                                    <div class="uni-entry-time">
                                                        <ul>
                                                            <li class="year">2017</li>
                                                            <li class="day">14</li>
                                                            <li class="month">Mar</li>
                                                        </ul>
                                                    </div>
                                                    <div class="uni-entry-content">

                                                        <header class="uni-entry-header">
                                                            <h2 class="uni-entry-title">
                                                                This is a standard post with image
                                                            </h2>
                                                        </header>

                                                        <div class="uni-entry-meta">
                                                        <span class="uni-author">
                                                            <a href="#" rel="author"><i class="fa fa-calendar" aria-hidden="true"></i> june 21, 2017</a>
                                                        </span>
                                                            <span class="uni-comment-total">
                                                            <a href="#" class="comments-link"><i class="fa fa-user" aria-hidden="true"></i> admin</a>
                                                        </span>
                                                            <span class="uni-entry-folder"><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 2 comments</a></span>
                                                        </div>
                                                        <div class="uni-entry-description">
                                                            <p>
                                                                Congratulations, you played yourself. We don’t see
                                                                them, we will never see them. You should never complain,
                                                                complaining is a weak emotion, you got life, we breathing,
                                                                we blessed. The weather is amazing, walk with me through
                                                                the pathway of more success. Take this journey with me
                                                                , Lion! Surround yourself with angels, positive energy,
                                                                beautiful people, beautiful souls, clean heart, angel.
                                                                The key to more success is to have a lot of pillows.<br><br>

                                                                A major key, never panic. Don’t panic, when it gets
                                                                crazy and rough, don’t panic, stay calm. To be
                                                                successful you’ve got to work hard, to make history,
                                                                simple, you’ve got to make it. Bless up. The key to
                                                                more success is to have a lot of pillows. The
                                                                weather is amazing, walk with me through the
                                                                pathway of more success. Take this journey with me,
                                                                Lion! They don’t want us to win. You do know, you do
                                                                know that they don’t want you to have lunch. I’m
                                                                keeping it real with you, so what you going do is
                                                                have lunch. Learning is cool, but knowing is better,
                                                                and I know the key to success.<br><br>

                                                                Bless up. I’m up to something. The key to more
                                                                success is to have a lot of pillows. Mogul talk.
                                                                The key is to drink coconut, fresh coconut, trust me.
                                                                Celebrate success right, the only way, apple.
                                                                Every chance I get, I water the plants, Lion!
                                                                Look at the sunset, life is amazing, life is
                                                                beautiful, life is what you make it. Life is
                                                                what you make it, so let’s make it. In life you
                                                                have to take the trash out, if you have trash in
                                                                your life, take it out, throw it away, get rid of it,
                                                                major key. Let’s see what Chef Dee got that they don’t
                                                                want us to eat.<br><br>

                                                                We don’t see them, we will never see them. It’s on
                                                                you how you want to live your life. Everyone has a
                                                                choice. I pick my choice, squeaky clean. Surround
                                                                yourself with angels. It’s important to use cocoa
                                                                butter. It’s the key to more success, why not live
                                                                smooth? Why live rough? To succeed you must believe.
                                                                When you believe, you will succeed. It’s on you how
                                                                you want to live your life. Everyone has a choice.
                                                                I pick my choice, squeaky clean.<br><br>

                                                                The weather is amazing, walk with me through the
                                                                pathway of more success. Take this journey with me,
                                                                Lion! Surround yourself with angels. Congratulations,
                                                                you played yourself. We the best. The weather is
                                                                amazing, walk with me through the pathway of more
                                                                success. Take this journey with me, Lion! They key
                                                                is to have every key, the key to open every door.
                                                                Bless up. You see that bamboo behind me though, you
                                                                see that bamboo? Ain’t nothin’ like bamboo. Bless up.
                                                                The ladies always say Khaled you smell good, I use no
                                                                cologne. Cocoa butter is the key. <br><br>

                                                                To succeed you must believe. When you believe, you
                                                                will succeed. Wraith talk. It’s on you how you want
                                                                to live your life. Everyone has a choice. I pick my
                                                                choice, squeaky clean. Always remember in the jungle
                                                                there’s a lot of they in there, after you overcome
                                                                they, you will make it to paradise. The key to
                                                                success is to keep your head above the water,
                                                                never give up. They don’t want us to win. It’s
                                                                on you how you want to live your life. Everyone
                                                                has a choice. I pick my choice, squeaky clean.
                                                                Cloth talk.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="uni-divider"></div>

                                                <div class="uni-entry-tag-share">
                                                    <div class="share-click">
                                                        <ul class="thim-social-share">
                                                            <li> SHARE: </li>
                                                            <li class="facebook"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                            <li class="twitter"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                            <li class="youtube"><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </article>

                                        <div class="uni-post-pagination">
                                            <div class="col-md-6 col-sm-6 col-xs-6 clear-padding">
                                                <div class="uni-post-pagination-left">
                                                    <a href="#">PREVIOUS POST</a>
                                                    <div class="uni-pagination-latest">
                                                        <div class="thumbnail-img">
                                                            <a href="03_01_02_right_sidebar.html">
                                                                <img src="images/single_post/img2.jpg" alt="" title="" class="img-responsive">
                                                            </a>
                                                        </div>
                                                        <div class="rel-post-text">
                                                            <h5 class="entry-title">
                                                                <a href="03_01_02_right_sidebar.html">Pellentesque habitant morbi tristi senectus et netus</a>
                                                            </h5>
                                                            <div class="entry-meta">
                                                                <span class="entry-date"><i class="fa fa-calendar" aria-hidden="true"></i>June 21, 2017</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 clear-padding">
                                                <div class="uni-post-pagination-right">
                                                    <a href="#">NEXT POST</a>
                                                    <div class="uni-pagination-latest">
                                                        <div class="thumbnail-img">
                                                            <a href="03_01_02_right_sidebar.html">
                                                                <img src="images/single_post/img.jpg" alt="" title="" class="img-responsive">
                                                            </a>
                                                        </div>
                                                        <div class="rel-post-text">
                                                            <h5 class="entry-title">
                                                                <a href="03_01_02_right_sidebar.html" title="Futurethon – Explore the future">Pellentesque habitant morbi tristi senectus et netus</a>
                                                            </h5>
                                                            <div class="entry-meta">
                                                                <span class="entry-date"><i class="fa fa-calendar" aria-hidden="true"></i>June 21, 2017</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="uni-author">
                                            <div class="uni-author-info">
                                                <div class="item-img">
                                                    <img src="images/single_post/img42.jpg" alt="" class="img-responsive">
                                                </div>
                                                <div class="item-content">
                                                    <span class="author-name">Karen Watt</span>
                                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
                                                    <a href="#">http://jonnydeep.com</a>
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="comments" class="comments-area">
                                            <div class="list-comments">
                                                <h3 class="comments-title"> 2 COMMENTS</h3>
                                                <div class="uni-divider"></div>
                                                <ul class="comment-list">
                                                    <li class="comment even thread-even depth-1 description_comment">
                                                        <div class="comments-img">
                                                            <img alt="" src="images/single_post/img5.jpg" class="avatar avatar-100 photo">
                                                        </div>
                                                        <div class="content-comment">
                                                            <div class="author">
                                                                <span class="author-name">Adam Henderson</span>
                                                            </div>
                                                            <div class="message">
                                                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                                                                    eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                                                                    semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                                                </p>
                                                            </div>
                                                            <div class="reply">
                                                                <span class="comment-extra-info">Jul 21, 2017 at 8:22 am</span>
                                                                <span>
                                                                    <a rel="nofollow" class="comment-reply-link" href="#">Reply <i class="fa fa-share" aria-hidden="true"></i></a>
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="clear"></div>

                                                        <ul class="children">
                                                            <li class="comment odd alt depth-2 description_comment" id="comment-5">
                                                                <div class="comments-img">
                                                                    <img alt="" src="images/single_post/img6.jpg" class="avatar avatar-100 photo">
                                                                </div>
                                                                <div class="content-comment">
                                                                    <div class="author">
                                                                        <span class="author-name">Adam Henderson</span>
                                                                    </div>
                                                                    <div class="message">
                                                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                                                                            eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                                                                            semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                                                        </p>
                                                                    </div>
                                                                    <div class="reply">
                                                                        <span class="comment-extra-info">Jul 21, 2017 at 8:22 am</span>
                                                                        <span>
                                                                        <a rel="nofollow" class="comment-reply-link" href="#">Reply <i class="fa fa-share" aria-hidden="true"></i></a>
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="comment even thread-even depth-1 description_comment">
                                                        <div class="comments-img">
                                                            <img alt="" src="images/single_post/img5.jpg" class="avatar avatar-100 photo">
                                                        </div>
                                                        <div class="content-comment">
                                                            <div class="author">
                                                                <span class="author-name">Adam Henderson</span>
                                                            </div>
                                                            <div class="message">
                                                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                                                                    eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                                                                    semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                                                </p>
                                                            </div>
                                                            <div class="reply">
                                                                <span class="comment-extra-info">Jul 21, 2017 at 8:22 am</span>
                                                                <span>
                                                                    <a rel="nofollow" class="comment-reply-link" href="#">Reply <i class="fa fa-share" aria-hidden="true"></i></a>
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="clear"></div>

                                                        <ul class="children">
                                                            <li class="comment odd alt depth-2 description_comment" id="comment-6">
                                                                <div class="comments-img">
                                                                    <img alt="" src="images/single_post/img6.jpg" class="avatar avatar-100 photo">
                                                                </div>
                                                                <div class="content-comment">
                                                                    <div class="author">
                                                                        <span class="author-name">Adam Henderson</span>
                                                                    </div>
                                                                    <div class="message">
                                                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                                            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                                                                            eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                                                                            semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                                                        </p>
                                                                    </div>
                                                                    <div class="reply">
                                                                        <span class="comment-extra-info">Jul 21, 2017 at 8:22 am</span>
                                                                        <span>
                                                                        <a rel="nofollow" class="comment-reply-link" href="#">Reply <i class="fa fa-share" aria-hidden="true"></i></a>
                                                                    </span>
                                                                    </div>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>


                                            </div>

                                            <div class="form-comment">
                                                <div id="respond" class="comment-respond">
                                                    <h3 id="reply-title" class="comment-reply-title"> add your comment</h3>
                                                    <div class="uni-divider"></div>
                                                    <div class="row">
                                                        <div class="uni-message-cause-form">
                                                            <form action="http://medicare.vikitheme.com/html/action.html">
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <textarea class="form-control" id="yourmessage" name="message" placeholder="Your Comments" rows="5"></textarea>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <input type="text" id="yourName" placeholder="Name *" class="form-control" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <input type="email" id="youremail" placeholder="Email *" class="form-control" required>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <input type="email" id="website" placeholder="Website" class="form-control">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <div class="vk-btn-send">
                                                                            <button type="submit" class="btn vk-btn-primary">Post Comment</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="uni-blog-list-right">
                                    <aside id="secondary" class="widget-area">
                                        <aside class="widget">
                                            <div class="widget-content">
                                                <div class="uni-search-sidebar">
                                                    <form action="http://medicare.vikitheme.com/html/action.php" method="post" accept-charset="utf-8">
                                                        <div class="vk-newlist-banner-test-search">
                                                            <input type="text" name="seach" placeholder="Search...">
                                                            <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </aside>
                                        <aside class="widget">
                                            <h3 class="widget-title">category</h3>
                                            <div class="uni-divider"></div>
                                            <div class="widget-content">
                                                <div class="uni-widget-category">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Lifestyle</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Travel</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Technology</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Sport</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Economy</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>  Music</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </aside>
                                        <aside class="widget">
                                            <h3 class="widget-title">Recent posts</h3>
                                            <div class="uni-divider"></div>
                                            <div class="widget-content">
                                                <div class="uni-widget-popular-posts">
                                                    <ul>
                                                        <li>
                                                            <div class="item-widget-popular-post">
                                                                <div class="item-img">
                                                                    <a href="#"><img src="images/blog_list/img4.png" alt=""></a>
                                                                </div>
                                                                <div class="item-caption">
                                                                    <h4><a href="#">Microscope in medical</a></h4>
                                                                    <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i>  June 12, 2017</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item-widget-popular-post">
                                                                <div class="item-img">
                                                                    <a href="#"><img src="images/blog_list/img3.png" alt=""></a>
                                                                </div>
                                                                <div class="item-caption">
                                                                    <h4><a href="#">New surgical technology</a></h4>
                                                                    <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i>  June 12, 2017</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item-widget-popular-post">
                                                                <div class="item-img">
                                                                    <a href="#"><img src="images/blog_list/img2.png" alt=""></a>
                                                                </div>
                                                                <div class="item-caption">
                                                                    <h4><a href="#">Treatment for cancer patients</a></h4>
                                                                    <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i>  June 12, 2017</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item-widget-popular-post">
                                                                <div class="item-img">
                                                                    <a href="#"><img src="images/blog_list/img1.png" alt=""></a>
                                                                </div>
                                                                <div class="item-caption">
                                                                    <h4><a href="#">Benefits of regular checkups</a></h4>
                                                                    <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i>  June 12, 2017</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </aside>
                                      
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

