
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                <div class="uni-banner-default uni-background-1">
                    <div class="container">
                        <!-- Page title -->
                        <div class="page-title">
                            <div class="page-title-inner">
                                <h1>blog list</h1>
                            </div>
                        </div>
                        <!-- End page title -->

                        <!-- Breadcrumbs -->
                        <ul class="breadcrumbs">
                            <li><a href="#">home</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">list</a></li>
                        </ul>
                        <!-- End breadcrumbs -->
                    </div>
                </div>

                <div class="uni-blog-list-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="uni-blog-list-left">

                                    <!--===========================================-->
                                    <div class="blog-list-item">
                                        <article class="post type-post">
                                            <div class="content-inner">
                                                <div class="uni-entry-top">
                                                    <div class="thumbnail-img">
                                                        <a href="#" title="">
                                                            <img src="/images/blog_list/main/img.jpg" alt="" title="" class="img-responsive">
                                                        </a>
                                                    </div>
                                                </div>


                                                <div class="uni-entry-body">
                                                    <div class="uni-entry-time">
                                                        <ul>
                                                            <li class="year">2017</li>
                                                            <li class="day">14</li>
                                                            <li class="month">Mar</li>
                                                        </ul>
                                                    </div>
                                                    <div class="uni-entry-content">

                                                        <header class="uni-entry-header">
                                                            <h2 class="uni-entry-title">
                                                                <a href="#" rel="">This is a standard post with /image</a>
                                                            </h2>
                                                        </header>
                                                        <div class="uni-entry-meta">
                                                        <span class="uni-author">
                                                            <a href="#" rel="author"><i class="fa fa-calendar" aria-hidden="true"></i> june 21, 2017</a>
                                                        </span>
                                                        </div>

                                                        <div class="uni-entry-summary">
                                                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                                fames ac turpis egestas. Vestib tortor quam, feugiat vitae, ultricies eget,
                                                                tempor sit amet, ante sit amet semper...</p>
                                                        </div>
                                                        <div class="readmore">
                                                            <a asp-action="Details"><i class="icomoon icon-up"></i>Read More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>

                                    <!--Pagination blog-->
                                    <div class="uni-divider"></div>
                                 @*   <div class="uni-pagination-blog">
                                        <ul>
                                            <li class="older-post"><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> older post</a></li>
                                            <li class="newer-post"><a href="#">newer post <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>*@

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="uni-blog-list-right">
                                    <aside id="secondary" class="widget-area">
                                        <aside class="widget">
                                            <div class="widget-content">
                                                <div class="uni-search-sidebar">
                                                    <form action="http://medicare.vikitheme.com/html/action.php" method="post" accept-charset="utf-8">
                                                        <div class="vk-newlist-banner-test-search">
                                                            <input type="text" name="seach" placeholder="Search...">
                                                            <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </aside>
                                        <aside class="widget">
                                            <h3 class="widget-title">category</h3>
                                            <div class="uni-divider"></div>
                                            <div class="widget-content">
                                                <div class="uni-widget-category">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Lifestyle</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Travel</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Technology</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Sport</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Economy</a></li>
                                                        <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>  Music</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </aside>
                                        <aside class="widget">
                                            <h3 class="widget-title">Recent posts</h3>
                                            <div class="uni-divider"></div>
                                            <div class="widget-content">
                                                <div class="uni-widget-popular-posts">
                                                    <ul>
                                                        <li>
                                                            <div class="item-widget-popular-post">
                                                                <div class="item-img">
                                                                    <a href="#"><img src="/images/blog_list/img4.png" alt=""></a>
                                                                </div>
                                                                <div class="item-caption">
                                                                    <h4><a href="#">Microscope in medical</a></h4>
                                                                    <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i>  June 12, 2017</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item-widget-popular-post">
                                                                <div class="item-img">
                                                                    <a href="#"><img src="/images/blog_list/img3.png" alt=""></a>
                                                                </div>
                                                                <div class="item-caption">
                                                                    <h4><a href="#">New surgical technology</a></h4>
                                                                    <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i>  June 12, 2017</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item-widget-popular-post">
                                                                <div class="item-img">
                                                                    <a href="#"><img src="/images/blog_list/img2.png" alt=""></a>
                                                                </div>
                                                                <div class="item-caption">
                                                                    <h4><a href="#">Treatment for cancer patients</a></h4>
                                                                    <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i>  June 12, 2017</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item-widget-popular-post">
                                                                <div class="item-img">
                                                                    <a href="#"><img src="/images/blog_list/img1.png" alt=""></a>
                                                                </div>
                                                                <div class="item-caption">
                                                                    <h4><a href="#">Benefits of regular checkups</a></h4>
                                                                    <div class="time"><i class="fa fa-calendar" aria-hidden="true"></i>  June 12, 2017</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </aside>

                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

