
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>

                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Trident</td>
                                <td>InternetExplorer 4.0</td>
                                <td>Win 95+</td>
                                <td> 4</td>
                                <td>X</td>
                                <td> <a href="" class="btn btn-outline-primary">Edit</a></td>
                                <td> <a href="" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Gecko</td>
                                <td>Mozilla 1.8</td>
                                <td>Win 98+ / OSX.1+</td>
                                <td>1.8</td>
                                <td>A</td>
                                <td> <a href="" class="btn btn-outline-primary">Edit</a></td>
                                <td> <a href="" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Gecko</td>
                                <td>Seamonkey 1.1</td>
                                <td>Win 98+ / OSX.2+</td>
                                <td>1.8</td>
                                <td>A</td>
                                <td> <a href="" class="btn btn-outline-primary">Edit</a></td>
                                <td> <a href="" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Gecko</td>
                                <td>Epiphany 2.20</td>
                                <td>Gnome</td>
                                <td>1.8</td>
                                <td>A</td>
                                <td> <a href="" class="btn btn-outline-primary">Edit</a></td>
                                <td> <a href="" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Tasman</td>
                                <td>Internet Explorer 5.1</td>
                                <td>Mac OS 7.6-9</td>
                                <td>1</td>
                                <td>C</td>
                                <td> <a href="" class="btn btn-outline-primary">Edit</a></td>
                                <td> <a href="" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                            <tr>
                                <td>Other browsers</td>
                                <td>All others</td>
                                <td>-</td>
                                <td>-</td>
                                <td>U</td>
                                <td> <a href="" class="btn btn-outline-primary">Edit</a></td>
                                <td> <a href="" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

